<ng-container *ngTemplateOutlet="currentTemplate"> </ng-container>
<app-team-scores></app-team-scores>

<ng-template #tracker>
  <form [formGroup]="trackerForm">
    <select name="teamSelect" id="teamSelect" formControlName="teamSelect">
      <option *ngFor="let team of teams" selected [value]="team.id">
        {{ team.full_name }}
      </option>
    </select>
    <button
      type="button"
      name="trackBtn"
      id="trackBtn"
      (click)="onTrackBtnClicked()"
      [disabled]="trackerForm.invalid"
    >
      Track Team
    </button>
  </form>
</ng-template>

<ng-template #loader>
  <h4>Loading teams...</h4>
</ng-template>
