<div
  *ngFor="let score of scoresProvider.Scores; let i = index"
  class="team-tile"
>
  <button
    type="button"
    [id]="'remove' + score.Team.abbreviation"
    (click)="RemoveScore(i)"
  >
    X
  </button>
  <nba-scores-header [team]="score.Team"></nba-scores-header>
  <div class="score-container">
    <div>
      <p>Result of the past 12 days:</p>
      <span
        *ngFor="let result of score.Results"
        class="result"
        [appResultHighlighter]="result"
        >{{ result }}</span
      >
      <p>
        Avg pts scored:
        <span class="avg-scores">{{
          score.AvgPtsScored | number : "1.0-0"
        }}</span>
      </p>
      <p>
        Avg pts conceded:
        <span class="avg-scores">{{
          score.AvgPtsConceded | number : "1.0-0"
        }}</span>
      </p>
    </div>
    <div>
      <img class="team-logo" [src]="score.ImgUrl" alt="team logo" />
    </div>
  </div>
  <button
    type="button"
    [id]="'results' + score.Team.abbreviation"
    [routerLink]="['results', score.Team.abbreviation]"
  >
    See game results
  </button>
</div>
